:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #34495d;
  background-color: #fadec4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/** Form Element **/
/** Next Step Btn **/
.next-btn-box {
  position: fixed;
  bottom: 30px;
  left: 0;
  box-sizing: border-box;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
}

.next-btn-box div {
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 25px;
  padding: 15px;
  margin: 25px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-grow: 1;
  max-width: 700px;
  justify-content: center;
  justify-items: center;
}

.next-step-btn {
  padding: 15px;
  border-radius: 10px;
  margin-left: auto;
  border: none;
  font-size: 14px;
  font-weight: bold;
  width: 80px;
  height: 50px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  background-color: #34495d;
  color: white;
}

.next-step-btn:hover {
  background-color: #1d2833;
  color: white;
}

.next-step-btn:active {
  font-size: 12px;
}

.back-lastpage-btn {
  display: flex;
  align-items: center;
  margin: 10px;
  text-decoration: none;
  color: #34495d;
  font-size: 16px;
}

/** select **/
.select-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.option-btn {
  padding: 20px;
  border-radius: 100px;
  margin: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  transition: all ease-in-out 0.2s;
  background-color: white;
  align-items: center;
  color: #34495d;
}

.option-btn svg {
  margin: 5px;
}

.option-btn:hover {
  background-color: rgba(255, 255, 255, 0.53);
}

.option-btn.active {
  background-color: #34495d;
  color: white;
}

.option-btn.active svg {
  fill: white;
}

input {
  padding: 15px;
  border-radius: 100px;
  border: none;
  background-color: #fadec4;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  color: #34495d;
}

input:hover {
  outline: 2px solid #484848;
  outline-offset: 0px;
  background-color: #fadec4aa;
}

input:focus {
  outline: 2px solid #34495d;
  outline-offset: 2px;
  background-color: #fadec4;
}

label {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  margin: 10px;
  margin-left: 0px;
}

/** Header **/
.page-header {
  padding: 15px;
  font-size: 14px;
}

.header-title {
  margin: 0;
}

/** Footer **/
.footer-box {
  display: flex;
  margin-top: auto;
  font-size: 12px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  background-color: transparent;
  color: #34495d;
  box-sizing: border-box;
  padding: 5px 15px 5px 15px;
}

.copyright p {
  margin: 10px;
}

.ig-link-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #34495d;
  padding: 10px;
  border-radius: 100px;
}

.ig-link-btn:hover {
  background-color: #34495d;
}

.ig-link-btn:hover svg {
  fill: white;
}

/** Main **/
.contentbox {
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 20px;
}

@media (min-width: 100px) {
  .contentbox {
    width: 100%;
  }
}

@media (min-width: 700px) {
  .contentbox {
    width: 60%;
    max-width: 700px;
  }
}

.form-box {
  box-sizing: border-box;
}

.hamburger {
  /** 漢堡人圖案 **/
  position: absolute;
  bottom: 50px;
  transition: all ease-in-out 0.2s;
  z-index: -1;
}

@media (min-width: 100px) {
  .hamburger {
    /** 漢堡人圖案 **/
    right: 20px;
    height: 250px;
    width: 250px;
  }
}

@media (min-width: 1000px) {
  .hamburger {
    /** 漢堡人圖案 **/
    right: 70px;
    height: 300px;
    width: 300px;
  }
}

section {
  display: flex;
  justify-content: center;
}

.que-title {
  /** 每個問題的標題 **/
  margin: 0 20px 20px 10px;
  font-size: 30px;
}

.que-description {
  margin: 0 20px 20px 10px;
  font-size: 18px;
}

.fpbtn {
  color: white;
  margin: 15px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.fpbtn:hover {
  color: rgb(0, 132, 255);
}



.voteCode_Text {
  color: white;
  margin: 0;
  padding: 10px;
  background-color: #018f14;
  border-radius: 100px;
  padding-left: 15px;
  padding-right: 15px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-weight: 500;
}

.box-background {
  width: 100vw;
  height: 100vh;
  background-color: #323232a4;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.m-contentbox {
  background-color: rgb(45, 45, 45);
  color: #ffffff;
  box-sizing: border-box;
  border-radius: 35px;
  box-shadow: 0px 0px 15px 1px #3d3d3d7c;
  display: inline-flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  justify-items: center;
  margin: 20px;
  min-width: 250px;
}

.m-title {
  margin: 0px;
}

.m-message {
  margin: 0px;
  margin-top: 5px;
}

.loader {
  border: 3px solid #f3f3f3;
  /* Light grey */
  border-top: 3px solid #000000;
  /* Blue */
  border-radius: 100px;
  width: 15px;
  /* 圓的寬度 */
  height: 15px;
  /* 圓的高度 */
  animation: spin 1s linear infinite;
  /* 旋轉動畫 */
}



.select-input {
  appearance: none;
  -webkit-appearance: none;
  padding: 15px;
  border-radius: 100px;
  border: none;
  background-color: #fadec4;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  color: #34495d;
}

.select-input:hover {
  outline: 2px solid #484848;
  outline-offset: 2px;
  background-color: #fadec4aa;
}

.select-input:focus {
  outline: 2px solid #34495d;
  outline-offset: 2px;
  background-color: #fadec4aa;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/** 最後一步頁面 **/
.ls_firstBox {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom,
      rgba(138, 121, 107, 0.67),
      #34495d);
  background-size: 100% 20%;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  margin-bottom: 200px;
}

.ls_firstBox h1 {
  margin: 0;
  font-size: 40px;
}

.top-text p {
  margin: 5px;
}

.ls_firstBox p {
  padding: 0 20px;
  font-size: 20px;
}

.connect_btn p {
  margin: 0;
  font-size: 22px;
}

.connect_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  width: 300px;
  height: 75px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  background-color: #34495d;
  color: white;
}

.connect_btn:hover {
  background-color: #1d2833;
  color: white;
}

.connect_btn:active {
  font-size: 18px;
}

/** Success Page **/
.successBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 15px;
}

.successBox p {
  margin: 5px;
  font-size: 18px;
}

.successBox svg {
  margin: 10px;
}

.done_title {
  margin: 5px;
  font-size: 24px;
}

#description {
  font-size: 15px;
  margin: 10px;
  margin: 0;
}

.description_Box {
  margin: 15px;
  padding: 20px;
  border: 1px solid #b1b1b1;
  border-radius: 25px;
}

.description_Box_title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.description_Box_title p {
  margin: 5px;
  font-weight: 500;
}

.main_box {
  margin: 15px;
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.main_title {
  margin: 10px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul li:not(:last-child) {
  border-bottom: 1px solid #ededed;
}

.list_item {
  display: flex;
}

.value_text {
  margin: 10px;
  display: flex;
  align-items: center;
}

.list_title {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.list_title svg {
  margin: 10px;
}

input {
  background-color: white;
  color: #000000;
}

input:hover {
  outline: 2px solid #dbdbdb;
  outline-offset: 0px;
  background-color: #eeeeee;
}

input:focus {
  outline: 2px solid #454545;
  outline-offset: 2px;
  background-color: #eeeeee;
}

.select-input {
  background-color: white;
  color: #000000;
}

.select-input:hover {
  outline: 2px solid #dbdbdb;
  outline-offset: 0px;
  background-color: #eeeeee;
}

.select-input:focus {
  outline: 2px solid #454545;
  outline-offset: 2px;
  background-color: #eeeeee;
}

section {
  opacity: 1;
}

.m-contentbox {
  background-color: #fadec4;
  color: #34495d;
  box-shadow: 0px 0px 15px 1px #9999997c;
}

.box-background {
  background-color: #cccccc6f;
}

.loader {
  border: 3px solid #f3f3f380;
  /* Light grey */
  border-top: 3px solid #ffffff;
  /* Blue */
}

.fpbtn {
  color: rgb(129, 129, 129);
}

.fpbtn:hover {
  color: rgb(0, 0, 0);
}

.voteCode_Text {
  color: #34495d;
  background-color: white;
}

.connect_btn svg {
  fill: white;
}

.ls_firstBox {
  background-image: linear-gradient(to bottom, #c4d8ec, #fadec4);
}

.main_box {
  color: #34495d;
}

.description_Box_title svg {
  fill: #fadec4;
}

.loginform {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 25px;
}

.loginform label {
  margin-bottom: 5px;
}

.loginform input,
.loginform select {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}